<h3>Agua</h3>


<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>



        <!-- Panel Title -->
        
<ngb-alert class="panel-title text-center"type="success" [dismissible]="false">
      Agua <span class="glyphicon glyphicon-map-marker"></span>
    </ngb-alert>

  <div class="panel-body">
   
    
<form class="form-inline justify-content-right"[formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

<div class="w3-container w3-section w3-padding-8 w3-orange" >
   <div class="form-group">
    <label for="vivAfectadas">
      Nº Expediente
    </label>
    <input id="expedientes" type="text" formControlName="expedientes">
  </div>
</div>

<div class="w3-container w3-section w3-padding-8 w3-orange" >

<div class="form-group">
 <label for="name">
      Quien atiende?
    </label>
  <select class="custom-select" formControlName="atiende">
   <option value="" disabled></option>
   <option *ngFor="let dato of datos" >{{dato.id}}</option>
</select>
</div>
  <div class="form-group">
    <label for="vivAfectadas">
      Viviendas afectadas
    </label>
    <input id="vivAfectadas" type="text" formControlName="vivAfectadas">
  </div>

  <div class="form-group">
   <label for="name">
      Construcción afectada
    </label>

  <select class="custom-select" formControlName="eleAfectados">
   <option value="" disabled></option>
   <option *ngFor="let dato of eleAfectados" >{{dato.elemAfec}}</option>
</select>
</div>

  </div>


  <div class="w3-container w3-section w3-padding-8 w3-orange" >

<div class="form-group">
   <label for="name">
      Motivo de la fuga
    </label>

  <select class="custom-select" formControlName="motivo">
   <option value="" disabled></option>
   <option *ngFor="let dato of motivos" >{{dato.motivo}}</option>
</select>
</div>

<div class="form-group">
 <label for="name">
      Tipo de conducción
    </label>
  <select class="custom-select" formControlName="conduccion">
   <option value="" disabled></option>
   <option *ngFor="let dato of conduccions" >{{dato.conduccion}}</option>
</select>
</div>

<div class="form-group">
 <label for="name">
     Estancia afectada
    </label>
  <select class="custom-select" formControlName="zonaAfectada">
   <option value="" disabled></option>
   <option *ngFor="let dato of zonasAfectada" >{{dato.zonaAfectada}}</option>
</select>
</div>

  </div>
  

<div class="w3-container w3-section w3-padding-8 w3-orange" >
   
<div class="form-group">
      <label>Datos anexos</label>
      <textarea class="form-control" rows="3" formControlName="anadeTexto" ></textarea>
    </div>

  </div>
 
 <div class="w3-container w3-section w3-padding-8 w3-orange" >

<div class="form-group">
   <label for="qrepar">
      Quien repara?
    </label>

  <select class="custom-select" formControlName="qrepara">
   <option value="" disabled></option>
   <option *ngFor="let dato of qreparas" >{{dato.qrepara}}</option>
</select>
</div>



<div class="form-group">
            
			<input type="radio" name="cubierto" value="true" formControlName="cubierto" checked>Cubierto<br>
            
            </div>

<div class="form-group">
            
			<input type="radio" name="rc" value="true" formControlName="rc" checked>Aplicar RC<br>
            
            </div>
<div class="form-group">
            
			<input type="number" name="franquicia"  formControlName="franquicia" checked>Aplicar RC<br>
            
            </div>
</div>

 <button class="button" type="submit">Enviar</button>
   


</form>

</div>

 
  