<!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Avances <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">


            <p class="">ANTECEDENTES</p>
           
           <p class="bg-muted">Reclaman {{parametros.name}} daños por agua debido a fuga producida , afectando al techo y paramentos en salón .</p>
            
  <div><br></div>
            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->

            <p class="">CIRCUNSTANCIAS</p>
  <div><br></div>
            <p class="bg-muted2">2.1.DAÑOS</p>
            <p class="bg-muted">Daños en </p>
            <p class="bg-muted2">2.2.CAUSA</p>
            <p class="bg-muted"></p>
            <p class="bg-muted2">2.3.ORIGEN</p>
            <p class="bg-muted"></p>

              <div><br></div>

                  <p class="bg-muted1">3. Circunstancias</p>
  <div><br></div>
              <p class="bg-muted"> Personado en el riesgo asegurado, se trata de , con buen estado de conservación y zona , con los capitales contratados acordes a las preexistencias observadas, donde soy atendido por  ,  cual me indica la ocurrencia del siniestro.</p>
              <p class="bg-muted"> </p>


  <div><br></div>


    <nav>
  <a routerLink="/electricos" routerLinkActive="active">Volver</a>
  <a routerLink="/pasadatos" routerLinkActive="active">Pasadatos</a>
</nav>
  </div>
