<!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Avances <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">
           <p class="">Nº de expediente: {{parametros.expedientes}}</p>

            <p class="">ANTECEDENTES</p>
          
             <p class="bg-muted">Reclaman daños en vivienda {{parametros.vivAfectadas}}, debido a fuga de agua {{parametros.motivo}} {{parametros.conduccion}}, afectando {{parametros.eleAfectados}} {{parametros.zonaAfectada}}  .</p>
  <div><br></div>
            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->

            <p class="">CIRCUNSTANCIAS</p>
  <div><br></div>
            
            <p class="bg-muted">Personado en el riesgo asegurado, se trata de edificio de viviendas en regimen de propiedad horizontal, en zona urbana con buen estado de conservación, con los capitales contratados acordes a las preexistencias observadas, donde soy atendido por {{parametros.atiende}}, que nos informa de la ocurrencia del siniestro. </p>
         
             <p class="bg-muted"> En nuestra inspección comprobamos daños en vivienda {{parametros.vivAfectadas}}, afectando a la pintura {{parametros.eleAfectados}} {{parametros.zonaAfectada}}, producidos por fuga de agua, {{parametros.motivo}} {{parametros.conduccion}}. </p>
              
            <p class="bg-muted">
            {{parametros.anadeTexto}}
            </p>


              <div><br></div>

                  <p class="">CAUSAS</p>
  <div><br></div>
              <p class="bg-muted">Por fuga de agua {{parametros.conduccion}}, se producen daños {{parametros.eleAfectados}} {{parametros.zonaAfectada}} en vivienda {{parametros.vivAfectadas}}. </p>
             


  <div><br></div>
                 <p class="">CONCLUSIÓN</p>
                 <p class="bg-muted">
                   {{parametros.cobertura}}
                 </p>
                   <p class="bg-muted">
                     {{parametros.franquicia}}</p>
                  <p class="bg-muted">
                   {{parametros.rc}}
                 </p>
    <nav>
  <a routerLink="/electricos" routerLinkActive="active">Volver</a>
  <a routerLink="/pasadatos" routerLinkActive="active">Pasadatos</a>
</nav>
  </div>
