<div class="jumbotron">
  <div class="container">
    <ngb-alert type="success" [dismissible]="false">
      Bootstrap is working!
    </ngb-alert>
 <br>

 <nav>
  <a routerLink="/presentacion" routerLinkActive="active">Crisis Center</a>

</nav>

 <form #f="ngForm">
      <select name="state" ng-model="val">
        <option value="" disabled>Choose a state</option>
        <option *ngFor="let state of states" [ngValue]="state">
          {{ state.abbrev }}
        </option>
      </select>

     
    </form>
    
  
  

  </div>
</div>